


<footer id="footer" class="">
    <div class="footer-left">
      <a href="#"><i class="ri-instagram-fill text-red-400 text-lg"></i></a>
      <a href="#"><i class="ri-facebook-fill text-blue-600 text-lg"></i></a>
      <a href="#"><i class="ri-twitter-fill text-blue-700 text-lg"></i></a>
      <a href="#"><i class="ri-linkedin-fill text-blue-500 text-lg"></i></a>
      <a href="#"><i class="ri-whatsapp-fill text-green-600 text-lg"></i></a>
    </div>
    <div class="footer-center">
      <p>Phone: 123-456-7890</p>
      <p>Email: info@tiffinservice.com</p>
      <p>Address: 123 Tiffin St, Food City</p>
    </div>
    <div class="footer-right">
      <a href="#">FAQs</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>

  </footer>
  <small  class="w-full py-4 bg-zinc-700  flex items-center justify-center text-white text-md ">All Rights are reserved @2024 Shivam Gupta</small>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>